includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon

parameters:
    paths:
        - src
        - tests
    level: max
    treatPhpDocTypesAsCertain: false
